.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-blocks {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}
.filter-block {
  flex: 1;
  margin: 0 1rem 1.5rem;
}
.filter-show-all {
  flex-basis: 100%;
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .filter-block-search {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .filter-blocks {
    flex-direction: column;
  }
}

.filter-tags {
  display: flex;
  flex-wrap: wrap;
}
.filter-tag {
  width: 33%;
}
.filter-tag-label {
  margin-right: 1rem;
  white-space: nowrap;
}

.figlet-list-toggles {
  display: flex;
  label {
    margin: 0 1rem;
  }
}
