.site-header-group {
  position: relative;
  overflow: visible;
}
.site-header-title {
  text-align: center;
}
.site-header-theme {
  position: absolute;
  top: 0;
  right: 0;
}
.site-header-background {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
  .site-header-background-text {
    font-size: 0.75rem;
    font-family: "Courier New", Courier, monospace;
    white-space: pre;
    color: var(--pico-color-secondary);
    opacity: 0.2;
    transition: opacity 0.3s ease-in-out;
  }
}

.about-button .svg-icon {
  // the info icon falls weird against the text. bump it up a skosh.
  position: relative;
  transform: translateY(-0.15rem);
}
@media only screen and (max-width: 1024px) {
  .about-button .text {
    display: none;
  }
}
