.ogImage {
  margin: 3em auto;
  width: 800px;
  height: 400px;
  background-color: var(--pico-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  pre {
    background-color: transparent;
  }
  .overlay {
    position: absolute;
    top: 55%;
    left: 45%;
    font-size: 4rem;
    line-height: 0.8em;
    font-weight: 700;
    div {
      text-indent: 2em;
      font-size: 1.25rem;
      font-weight: normal;
    }
  }
}
