@use "@picocss/pico/scss/pico" with (
  $semantic-root-element: "#root",
  $enable-semantic-container: true,
  $theme-color: "violet"
);

:root {
  --text-small: 0.85rem;
}

// Fixes for theme toggles
button.theme-toggle {
  color: currentColor;
}

$alignments: left center right;
@each $alignment in $alignments {
  .text-#{$alignment} {
    text-align: $alignment;
  }
}

.text-strikethrough {
  text-decoration: line-through;
}

.text-secondary {
  color: var(--pico-secondary);
}

.text-small {
  font-size: var(--text-small);
}

button,
[role="button"] {
  &.small {
    font-size: var(--text-small);
    padding: 0.5em 0.75em;
  }
  svg {
    height: 1rem;
    width: auto;
  }
}

.svg-icon {
  height: 1rem;
  width: auto;
}

button.borderless {
  border-color: transparent;
}
